# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
